fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-openai
openai>=0.28.0
psycopg2-binary
pgvector
python-dotenv
pandas
docx2txt
pypdf2
tiktoken
requests
backoff
playwright
pyee
unstructured
anyio
lxml